# Dictionaries in Python

## Introduction to Python Dictionaries
A **dictionary** is an unordered set of key: value pairs.

It provides us with a way to map pieces of data to each other so that we can quickly find values that are associated with one another.  


---



Suppose we want to store the prices of various items sold at a cafe:

- Avocado Toast is 6 dollars  
- Carrot Juice is 5 dollars  
- Blueberry Muffin is 2 dollars     

In Python, we can create a dictionary called menu to store this data:

menu = {"avocado toast": 6, "carrot juice": 5, "blueberry muffin": 2}


---


Notice that:

- A dictionary begins and ends with curly braces { and }.
- Each item consists of a key ("avocado toast") and a value (6).
- Each key: value pair is separated by a comma.
- Itâ€™s considered good practice to insert a space ( ) after each comma, but our code will still run without the space.

## Dictionary Basics

### Make a Dictionary  
In the code block below, **create a dictionary** with **at least 4** key/value pairs.  
Then **print** your dictionary.

In [ ]:
# Create your dictionary in the block.
students = {'freshman':'9th grade', 'sophomore':'10th grade', 'junior':'11th grade','senior':'12th grade'}
print(students)

{'freshman': '9th grade', 'sophomore': '10th grade', 'junior': '11th grade', 'senior': '12th grade'}

### Empty Dictionary  
Now we will create an empty dictionary and add keys and values to it.

In [ ]:
# Create your empty dictionary below this line. Then run this code block.
mascots = {}

### Add a Key
To add a single key: value pair to a dictionary, we can use the syntax:

dictionary[key] = value

Add a key: value pair to your empty dictionary you made.

In [ ]:
# Write the code to add your key: value pair to your empty dictionary. Then print it.
mascots["Clemson"] = "Tigers"
print(mascots)

{'Clemson': 'Tigers'}

### Lists in Dictionaries  
We can have a list as a **value** in a dictionary.  
But we cannot have a list as a **key** in a dictionary.  

This is because as we reference items in a dictionary by their **key**, so the key cannot be changable to prevent later issues.  

Lists are **mutable**, meaning they can be changed.  
Keys must be **immutable** types, such as strings or tuples.

Try to add another key:value pair to your dictionary.  
But this time, use a list as the **key**.

In [ ]:
mascots[['Clemson','Auburn','LSU']] = 'Tigers'

TypeError: unhashable type: 'list'

The word **unhashable** in the error means that the key is not a **hash value**.  
**Hash values** must be **immutable**.

Try your previous code again, but this time use **( )** instead of **[ ]** around the **key list**.  
Using paranthesis around a list makes it a **tuple**, which is **immutable**.  
Then print your dictionary.

In [ ]:
mascots[('Clemson','Auburn','LSU')] = 'Tigers'
print(mascots)

{'Clemson': 'Tigers', ('Clemson', 'Auburn', 'LSU'): 'Tigers'}

Now add another **key:value** pair and use a **list** as the value.  
Then print your dictionary.

In [ ]:
mascots['Alabama'] = ['Crimson Tide','Elephant']
print(mascots)

{'Clemson': 'Tigers', ('Clemson', 'Auburn', 'LSU'): 'Tigers', 'Alabama': ['Crimson Tide', 'Elephant']}

### Add Multiple Keys
If we wanted to add multiple **key:value** pairs to a dictionary at once, we can use the **.update()** method.

---



Looking at our sensors object from a previous exercise:

sensors = {"living room": 21, "kitchen": 23, "bedroom": 20}



---


If we wanted to add 3 new rooms, we could use:

sensors.update({"pantry": 22, "guest room": 25, "patio": 34})



---


This would add all three items to the sensors dictionary.

Now, sensors looks like:

{"living room": 21, "kitchen": 23, "bedroom": 20, "pantry": 22, "guest room": 25, "patio": 34}


---

Use **.update()** to add multiple **key:value** pairs to your dictionary.
Then print your dictionary.

In [ ]:
mascots.update({'USC':'Chickens', 'Lander':'Bearcats', 'UNC':'Tarheels'})
print(mascots)

{'Clemson': 'Tigers', ('Clemson', 'Auburn', 'LSU'): 'Tigers', 'Alabama': ['Crimson Tide', 'Elephant'], 'USC': 'Chickens', 'Lander': 'Bearcats', 'UNC': 'Tarheels'}

### Changing the Values  
We can change the **value** that is assigned to a **key**, using the same syntax as adding a **key:value** pair.  

dictionary[key] = value

Use this to change one of your values.
Then print your dictionary.

In [ ]:
mascots['USC'] = 'Gamecocks'
print(mascots)

{'Clemson': 'Tigers', ('Clemson', 'Auburn', 'LSU'): 'Tigers', 'Alabama': ['Crimson Tide', 'Elephant'], 'USC': 'Gamecocks', 'Lander': 'Bearcats', 'UNC': 'Tarheels'}

## That's great and all, but why do I care?
**Key:value** pairs, like **variables**, **loops** and **functions**, are building blocks for all programming languages.  

They are used to organize data and allow us to access data.  

Later we will use a standard data format called **json** to get information from **APIs**.  
**json** is a standard across many programming languages and it functions just like a **dictionary** in python.

## Using Dictionaries
Now we will practice:  
- getting the **value** that goes with a **key**  
- getting all the **keys** in a dictionary  
- getting all the **values** in a dictionary
- interating through a dictionary using the **keys** and **values**

In [ ]:
# Run this code cell to load our practice dictionary.
passwords = {'Randall Conrad':'apple78!',
             'Kayley Mathews': 'lamp98',
             'Nick Padilla': 'password',
             'Kathy Ali': '12345',
             'Mackenzie Cantu': 'mcantu784'}

print(passwords)

{'Randall Conrad': 'apple78!', 'Kayley Mathews': 'lamp98', 'Nick Padilla': 'password', 'Kathy Ali': '12345', 'Mackenzie Cantu': 'mcantu784'}

### Getting a Value
Similar to changing a **value** for a given **key**, we can get the **value** using:

dictionary[key]

Print Kayley's password using:
passwords['Kayley Mathews']

In [ ]:
print(passwords['Kayley Mathews'])

lamp98

Now using **input**, ask the user to:
- enter there name *(you should use .title() in case they don't capitalize)*   
- then use another **input**, to ask for their password.  
- check to see if the password is correct  
- if it is correct, reply "Welcome _______!"  
- if the password is incorrect, reply "Incorrect Password. Try agian."

In [ ]:
name = input("What is your name? ").title()
password = input("What is your password? ")

if passwords[name] == password:
  print('Welcome ' + name + "!!")
else:
  print('Incorrect Password. Try agian.')

What is your name? kayley mathews
What is your password? lamp98
Welcome Kayley Mathews!!

### Get All Keys
Use **.keys()** to print all of our user's names.  
*print(passwords.keys())*

In [ ]:
print(passwords.keys())

dict_keys(['Randall Conrad', 'Kayley Mathews', 'Nick Padilla', 'Kathy Ali', 'Mackenzie Cantu'])

### Get All Values
Use **.values()** to print all of the user's passwords as a list.  
(this time add **list** in front of **passwords**)

In [ ]:
print(list(passwords.values()))

['apple78!', 'lamp98', 'password', '12345', 'mcantu784']

### Using **.items()**
We can use **.items()** in a **for loop** to use all of the **keys** and **values** in a dictionary.  

Before we use **.items()**, let's review using **for loops** with a list real quick first.

In [ ]:
# Run this code block to see the results of looping over a list.

animals = ['dog', 'cat', 'bear']
for animal in animals:
  print('I like {}s.'.format(animal))

I like dogs.
I like cats.
I like bears.

<u>Back to **.items()**</u>

You can get both the **keys** and the **values** with the **.items()** method.  
Like **.keys()** and **.values()**, it returns a dict_list object.  
Each element of the dict_list returned by **.items()** is a **tuple** consisting of:

(key, value)


---


so to iterate through, you can use this syntax:

biggest_brands = {"Apple": 184, "Google": 141.7, "Microsoft": 80, "Coca-Cola": 69.7, "Amazon": 64.8}


---


for company, value in biggest_brands.items():  
&nbsp; print(company + " has a value of " + str(value) + " billion dollars. ")


---


which would ouput this:

Apple has a value of 184 billion dollars.  
Google has a value of 141.7 billion dollars.  
Microsoft has a value of 80 billion dollars.  
Coca-Cola has a value of 69.7 billion dollars.  
Amazon has a value of 64.8 billion dollars.

In [ ]:
# Run this code.
biggest_brands = {"Apple": 184, "Google": 141.7, "Microsoft": 80, "Coca-Cola": 69.7, "Amazon": 64.8}
brands = []
total_value = 0
for brand,value in biggest_brands.items():
  brands.append(brand)
  total_value += value

print("The top 5 software brands, " + ", ".join(brands) + ", have a total value of " + str(round(total_value)) + " billion dollars.")

The top 5 software brands, Apple, Google, Microsoft, Coca-Cola, Amazon, have a total value of 540 billion dollars.

In [ ]:
# Find out who needs to sign up for summer school.
student_grades = {'Randall': 80,
             'Kayley': 95,
             'Nick': 70,
             'Kathy': 74,
             'Mackenzie': 78}
passed = []
failed = []

for student,grade in student_grades.items():
  if grade >= 75:
    passed.append(student)
  else:
    failed.append(student)

print('Students that passed: ' + str(passed))
print('Students that need summer school: ' + str(failed))

Students that passed: ['Randall', 'Kayley', 'Mackenzie']
Students that need summer school: ['Nick', 'Kathy']